@font-face {
    font-family: 'open_sanscondensed_light';
    src: url('../fonts/opensans-condlight-webfont.woff2') format('woff2'),
         url('../fonts/opensans-condlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'eb_garamond12_regular';
    src: url('../fonts/ebgaramond12-regular-webfont.woff2') format('woff2'),
         url('../fonts/ebgaramond12-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'eb_garamond_sc12_regular';
    src: url('../fonts/ebgaramondsc12-regular-webfont.woff2') format('woff2'),
         url('../fonts/ebgaramondsc12-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

button, a{
	-webkit-transition: 0.2s ease-in;
	-moz-transition: 0.2s ease-in;
	-o-transition: 0.2s ease-in;
	transition: 0.2s ease-in;
	&:hover{
		text-decoration: none;
	}
}

body{
	font-family: 'open_sansregular';
}
.wrap.container.no-sidebar{
    width: 100%;
    .main{
        padding-right:0;
        padding-left:0;
    }
}
.btn-primary{
	background-color:$second;
	border-color:$second;
	&:hover{
		background-color:#fff;
		border-color:#fff;
		color: $second;
	}
}

.sidebar-primary .main {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
}
.wrap.container.sidebar-side{
    .main{
        padding-right:0;
        padding-left:0;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667% !important;
        flex: 0 0 66.6666666667%!important;
        max-width: 0 0 66.6666666667% !important;
        @media screen and(max-width:425px){
            -ms-flex: 0 0 80% !important;
            flex: 0 0 80% !important;
            max-width: 80% !important;
            margin:0 auto;
        }
    }
}
.frm_style_formidable-style.with_frm_style .frm_submit{
    button{
        margin:0;
        border:0;
        box-shadow:none;
        background-color:$second;
        color: #fff;
        border-radius:0;
        min-height: 50px;
        width: 100%;
        font-family: 'montserratbold';
        text-transform: uppercase;
        -webkit-transition: 0.2s ease-in;
        -moz-transition: 0.2s ease-in;
        -o-transition: 0.2s ease-in;
        transition: 0.2s ease-in;
        &:hover{
            background-color:#fff;
            color:$second;
        }
    }
}