@font-face {
    font-family: 'open_sanscondensed_light';
    src: url('../fonts/opensans-condlight-webfont.woff2') format('woff2'),
         url('../fonts/opensans-condlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'eb_garamond12_regular';
    src: url('../fonts/ebgaramond12-regular-webfont.woff2') format('woff2'),
         url('../fonts/ebgaramond12-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'eb_garamond_sc12_regular';
    src: url('../fonts/ebgaramondsc12-regular-webfont.woff2') format('woff2'),
         url('../fonts/ebgaramondsc12-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
 @-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -o-transform: translateY(10px);
    -ms-transform: translateY(10px);
  }
  to {
    opacity: 1; /* rgba for transparency */
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }
 }
 @-moz-keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -o-transform: translateY(10px);
    -ms-transform: translateY(10px);
  }
  to {
    opacity: 1; /* rgba for transparency */
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }
 }
 @-o-keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -o-transform: translateY(10px);
    -ms-transform: translateY(10px);
  }
  to {
    opacity: 1; /* rgba for transparency */
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }
 }
 @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -o-transform: translateY(10px);
    -ms-transform: translateY(10px);
  }
  to {
    opacity: 1; /* rgba for transparency */
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }
 }
  @-webkit-keyframes fadeInO {
  from {
    opacity: 0;
  }
  to {
    opacity: 1; /* rgba for transparency */
  }
 }
 @-moz-keyframes fadeInO {
  from {
    opacity: 0;
  }
  to {
    opacity: 1; /* rgba for transparency */
  }
 }
 @-o-keyframes fadeInO {
  from {
    opacity: 0;
  }
  to {
    opacity: 1; /* rgba for transparency */
  }
 }
 @keyframes fadeInO {
  from {
    opacity: 0;
  }
  to {
    opacity: 1; /* rgba for transparency */
  }
 }
   @-webkit-keyframes heightIn {
  from {
    max-height: 0;
  }
  to {
    max-height: 100%; /* rgba for transparency */
  }
 }
 @-moz-keyframes heightIn {
  from {
    max-height: 0;
  }
  to {
    max-height: 100%; /* rgba for transparency */
  }
 }
 @-o-keyframes heightIn {
  from {
    max-height: 0;
  }
  to {
    max-height: 100%; /* rgba for transparency */
  }
 }
 @keyframes heightIn {
  from {
    max-height: 0;
  }
  to {
    max-height: 100%; /* rgba for transparency */
  }
 }
.fade-in {
    opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

    animation-duration:.6s;
    animation-delay:.2s;
    @media screen and(max-width:992px){
        opacity: 1 !important;
        animation: none !important;
    }
}
.fade-all {
    opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

    animation-duration:.2s;
    @media screen and(max-width:992px){
        opacity: 1 !important;
        animation: none !important;
    }
}
button, a{
	-webkit-transition: 0.2s ease-in;
	-moz-transition: 0.2s ease-in;
	-o-transition: 0.2s ease-in;
	transition: 0.2s ease-in;
    text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}
html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
    z-index: 0;
}
body{
    height:100%; /* force the BODY element to match the height of the HTML element */
}
a:focus,a:hover {
    text-decoration: none;
}

a:focus {
    outline: none;
    outline-offset: 0;
}
.btn-primary.focus, .btn-primary:focus, .btn.focus, .btn:focus, .comment-form input.focus[type="submit"], .comment-form input[type="submit"]:focus, .search-form .focus.search-submit, .search-form .search-submit:focus {
    box-shadow: none;
}
body{
	font-family: 'open_sansregular';
}
h2.block-back{
    background: -moz-linear-gradient(top, rgba(30,87,153,0) 0%, rgba(41,137,216,0) 20%, rgba(0, 94, 184,1) 21%, rgba(0, 94, 184,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,0)), color-stop(20%,rgba(41,137,216,0)), color-stop(21%,rgba(0, 94, 184,1)), color-stop(100%,rgba(0, 94, 184,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(41,137,216,0) 20%,rgba(0, 94, 184,1) 21%,rgba(0, 94, 184,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(41,137,216,0) 20%,rgba(0, 94, 184,1) 21%,rgba(0, 94, 184,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(41,137,216,0) 20%,rgba(0, 94, 184,1) 21%,rgba(0, 94, 184,1) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(30,87,153,0) 0%,rgba(41,137,216,0) 20%,rgba(0, 94, 184,1) 21%,rgba(0, 94, 184,1) 100%); /* W3C */
    line-height: 50px;
    color: #fff;
    font-family: 'montserratregular';
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 14px;
    display: inline-block;
}
.wrap.container.no-sidebar{
    width: 100%;
    .main{
        padding-right:0;
        padding-left:0;
    }
}
.blog .wrap.container.no-sidebar{
    padding: 30px 0;
    .main{
        padding-right:0;
        padding-left:0;
    }
}
.btn-primary{
	background-color:$second;
	border-color:$second;
	&:hover{
		background-color:#fff;
		border-color:#fff;
		color: $second;
	}
}
.inner-contain a.gl-btn{
    text-decoration: none;
    color: #fff;
    padding:1em;
    margin:.5em 0;
    text-align: center;
    display: block;
}
.wrap.container.sidebar-side{
    .main{
        padding-right:0;
        padding-left:0;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667% !important;
        flex: 0 0 66.6666666667%!important;
        max-width: 0 0 66.6666666667% !important;
        @media screen and(max-width:426px){
            -ms-flex: 0 0 80% !important;
            flex: 0 0 80% !important;
            max-width: 80% !important;
            margin:0 auto;
        }
    }
}
.frm_style_formidable-style.with_frm_style .frm_submit{
    button{
        margin:0;
        border:0;
        box-shadow:none;
        background-color:$second;
        color: #fff;
        border-radius:0;
        min-height: 50px;
        width: 100%;
        font-family: 'montserratbold';
        text-transform: uppercase;
        -webkit-transition: 0.2s ease-in;
        -moz-transition: 0.2s ease-in;
        -o-transition: 0.2s ease-in;
        transition: 0.2s ease-in;
        &:hover{
            background-color:#fff;
            color:$second;
        }
    }
}
section.container {
    width: 100%;
}

.inner-contain{
    .container-fluid{
        padding:0;
    }
    h2, h3{
        font-family: 'open_sansregular';
        color: $prime;
        font-weight: bold;
        margin-bottom: 15px;
    }
    h2{
        font-family: 'montserratregular';
        text-transform: uppercase;
        font-size: 2em;
    }
    h3{
        font-size: 2rem;
    }
    h4{
        font-family: 'montserratregular';
        text-transform: uppercase;
        font-size: 16px;
        margin-bottom: 5px;
    }
    p {
        margin-top: 0;
        margin-bottom: 20px;
        line-height: 22px;
    }
    ul{
        list-style: none;
        li{
            position:relative;
            z-index: 0;
            padding-left:30px;
            margin-bottom: 20px;
            &:before{
                content:"●";
                position:absolute;
                z-index: 1;
                top:4px;
                left: 1px;
                font-size: 10px;
            }
        }
    }
    a{
        color:#84a1ae;
        text-decoration: underline;
        &:hover{
            color:$prime;
        }
        strong{
            text-transform: uppercase;
        }
    }
    figure{
        figcaption{
            padding: 1em;
            font-size: 11px;
            font-weight: bold;
            line-height: 14px;
            background-color:#f4f4f4;
        }
    }
    .page-header-mobile{
        .inner-mobile-toggle{
            background-color: $third;
            font-family: montserratregular;
            color: #fff;
            font-size: 13px;
            padding: .8em 1em;
            white-space: nowrap;
            text-transform: uppercase;
            margin-top: -17px;
            display: block;
            margin-bottom: 20px;
            text-decoration: none;
        }
    }
    .row.row-projects{
        margin-bottom: 30px;
        img{
            @media screen and(max-width:426px){
                margin-bottom: 5px;
            }
        }
        p{
            margin-bottom: 5px;
            strong{
                font-size: 1.2em;
                a{
                    color:#000;
                    text-decoration: none;
                    &:hover{
                        color:$prime;
                    }
                }
            }
        }
        ul.projects-tax{
            list-style:none;     
            color: #fff;
            margin:0;
            padding:0;     
            display: inline-block;
            li{
                padding: 5px 15px;
                border-radius:4px;
                display: inline-block;
                margin-bottom: 0;
                font-weight: bold;
                font-family: 'montserratregular';
                &:before{
                    content:"";
                }
                &:after{
                    content:",";
                }
            }
            li:last-child{
                &:after{
                    content: "";
                }
            }
            li.technology-devices{
                background-color:#06c1c1;
            }
            li.data-analytics{
                background-color:#008000;
            }
            li.user-centered-design{
                background-color:#c7a20a;
            }
            li.systems{
                background-color:#ff6600;
            }
        }
    }
}