header{
	position:relative;
	z-index:2;
	background-color:transparent;
	min-height:56px;
	.menu-bar{
		padding-top:15px;
		.container{
			width: 100%;
			.navbar{
				justify-content: flex-end;
				align-items:stretch;
				@media screen and(max-width:768px){
					align-items: flex-end;
				}
				@media screen and(max-width:425px){
					padding-right:0;
				}
				#bs4navbar{
					@media screen and(max-width:768px){
						display: none;
					}
				}
				#menu-toggle{
					background-color:$third;
					font-family: 'montserratregular';
					color: #fff;
					font-size: 13px;
					padding: .8em 1em;
					white-space: nowrap;
					text-transform: uppercase;
					&:hover{
						background-color:#fff;
						color: $third;
					}
					@media screen and(max-width:425px){
						width: 220px;
					}
					@media screen and(max-width:375px){
						width: 160px;
					}
				}
				#menu-main{
					li{
					margin-right: 5px;				
						.nav-link{
							background-color:$third;
							font-family: 'montserratregular';
							color: #fff;
							font-size: 13px;
							padding: .8em 1em;
							white-space: nowrap;
							text-transform: uppercase;
							&:hover{
								background-color:#fff;
								color: $third;
							}
						}
					}
					li.active{
						.nav-link{
							background-color:#fff;
							color: $third;
						}
					}				
				}
			}
			.col-md-2, .justify-content-end .col-md-3{
				display: flex;
				align-items: center;
				@media screen and(max-width:425px){
					justify-content: flex-end;
				}
				.search-form{
					display: flex;
					align-items:stretch;
					height: 40px;
					input{
						width: 100%;
					}
					label{
						@media screen and(max-width:425px){
							margin-bottom: 5px;
						}
						input{
							border-radius:0;
							height: 40px;
							border:0;
						}
					}
					.search-submit{
						border-radius:0;
						text-indent: -999em;
						border: 0;			
    					margin-left: -1px;
    					background:url(../images/search.jpg) no-repeat center center #fff;
					}
				}
			}
			.justify-content-end .col-md-2{
				@media screen and(max-width:425px){
					width: 220px;
				}
				@media screen and(max-width:375px){
					width: 160px;
				}
			}
			a.phone-num{
				color: #fff;
				font-size: 20px;
				white-space: nowrap;
				@media screen and(max-width:425px){
					width: auto;
					margin: 0 auto;
				}
				.fa{
					font-size: 50px;
				}
				span{
					display: block;
					margin-top: -39px;
					margin-left: 31px;
				}
				&:hover{
					color:$second;
				}
			}
			.apply-now{
				background:$second;
				color:#fff;
				border-radius:20px;
				padding: 10px 25px;
				@media screen and(max-width:768px){
					font-size: 10px;
				}
				&:hover{
					color:$second;
					background:#fff;
				}
			}
		}
	}
}
.jumbotron{
	position:relative;
	z-index:1;
	margin-top:-71px;
	font-family: serif;
	background:url(../images/home-back.jpg) no-repeat 0 0 transparent;
	background-size:cover;
	border-radius:0;
	color:#fff;
	font-family: 'eb_garamond12_regular';
	margin-bottom:0;
	@media screen and(max-width:425px){
		margin-top: -155px;
		padding-top: 160px;
	}
	.container{
		padding:80px 0;
		h2{
			font-family: 'eb_garamond_sc12_regular';
			font-size: 5em;
			font-weight: 200;
		}
		.brand_slogan{
			font-size: 2em;
			text-transform: uppercase;
			span{
				text-transform: lowercase;
				font-style: italic;
			}
		}
		.btn-primary{
			background-color:transparent;
			border-color:transparent;
			text-transform: uppercase;
			font-weight: bold;
			font-family: 'open_sansregular';
			font-size: 12px;
			letter-spacing: 1px;
			&:hover{
				background-color:transparent;
				border-color:transparent;
				color: $second;
			}
		}
	}
	.red-line{
		position:absolute;
		z-index: 1;
		width: 2px;
		height: 300px;
		bottom:-150px;
		left: 50%;
		background-color:$second;
		@media screen and(max-width:425px){
			display: none;
		}
	}
}
.jumbo-inner{
	padding: 4rem 2rem 2rem;
	margin-bottom:2em;
	.container{
		padding: 20px 0 0px;
		h2{
			font-size: 3em;
		}
		.brand_slogan{
			font-size: 1.3em;
		}
	}
}
.home header .menu-bar .container a.phone-num{
	@media screen and(max-width:425px){
		margin:0;
	}
}