.post{
	a{
		color: $prime;
		font-weight: bold;
		&:hover{
			color: $second;
		}
	}
}
.single{
	article{
		margin:50px 0;
	}
}
.posts-format{
	.thumb{
		width:70%;
		margin:-15px auto 25px;
		img{
			width: 100%;
		}
	}
}