.single{
	.sym-wrap{
		.page-content-wrapper-inner{		
			header.banner{
				position:absolute;
				top: 0;
				left: 0;
				width: 100%;
				min-height: 85px;
				.menu-bar{
					background-color: transparent;
					.row{
						min-height: 100px;
						.menu-cnt{
							display: flex;
							align-items:center;
							.register{
								min-width: 150px;
								display:block;
								background: $second;
								text-align: center;
								color:#fff;
								text-transform: uppercase;
								border-radius:20px;
								padding: 7px 0;
    							font-weight: bold;
    							font-size: 14px;
    							font-family: montserratregular;
    							&:hover{
    								background:rgba(224, 87, 81, 0.66);
    							}
							}
						}
						.text-right.menu-cnt{
							justify-content: flex-end;
						}
					}
				}
				.menu-bar .container-fluid .navbar{
					justify-content: flex-start;
					padding:0;
					#menu-toggle{
						font-size: 20px;
					}
				}
				.menu-bar .container-fluid .brand{
					display: flex;
					justify-content: center;
					height: 85px;
					margin:15px 0;
					img{
						width: auto;
						height: 85px;
					}
				}
			}
			.wrap.sidebar-side{
				position:relative;
				z-index: 1;
			}
			article{
				margin:0;
			}
			.meetup-entry-header .meetup-cover-wrap .meetup-event-header{
				margin-top:140px;
				position:relative;
			}
			.meetup-content-wrap {
				margin-bottom: -13px;
				.meetup-col-right{
					float: none;
					width: auto;
					border:0;
					padding:0;
					ul{
						margin-bottom: 0;
					}
					.meetup-add-to-calendar{
						font-family: montserratregular;
						color: #fff;
						text-transform: uppercase;
					}
				}
			}
			.meetup-about{
				background:url(../images/sym-about-back.jpg) no-repeat center center;
				padding: 97px 0;
				position:static;
				h2{
					font-family: 'open_sansregular';
					color: #005eb8;
				}
			}
			.meetup-info{
				background:url(../images/sym-about-back-2.jpg) no-repeat center center / cover;
				padding:8em 0;
				color: #fff;
				.info-date{
					font-size: 1.7em;
				    font-style: italic;
				    color: #41a2ff;
				}
				h3{
					font-family: 'open_sansregular';
					font-weight: bold;
				}
			}
			.pop-over{
				position:relative;
				top: 0;
				left: 0;
				z-index: 5;
			}
			.meetup-entry-header .meetup-cover-wrap{
				min-height: 450px;
				height: auto;
			}
			.meetup-entry-header .meetup-cover-wrap .meetup-event-header .meetup-title{
				float: none;
				width: auto;
				padding-top:0;
				margin-left: 40px;
				width: 50%;
				h1{
					font-size: 3em;
					line-height: 1em;
				}
				h2{
					font-size:1.7em;
					font-style: italic;
					color: #41a2ff;
				}
				h3{
					font-size: 1em;
				}
			}
			.meetup-calendar-provider{
				li{
					a{
						color:#fff;
					}
				}
			}
			.meetup-join-event{
				display: none;
				position:absolute;
				z-index: 999999;
				width:100%;
				top: 25px;
				left:0;
				background:#fff;
			}
			.meetup-entry-header .meetup-nav-wrap{
				border:0;
				background:transparent;
				margin-top: -47px;
				.meetup-nav{
					float: none;
					margin: 0 auto;
					width: 90%;
					.meetup-navigation{
						display: flex;
						background:#fff;
						padding-right:0;
						li{
							flex-grow:1;
							border:0;
							text-align: center;
							a{
								font-family: montserratregular;
								text-transform: uppercase;
								color:#060958;
							}
						}
					}
				}
			}
			#presenter{
				background:url(../images/presenter-back.jpg) no-repeat center center / cover;
				.meetup-listing{
					.row{
						position:relative;
						z-index: 0;				
						.meetup-indv{				
							.meetup-caption{
								display: none;
								position:relative;
								left:0;
							}
						}
						.drawer-style.style-1>.awsm-grid-card{
							width:16%;
						}
						.awsm-grid-expanded-content{
							background:#fff;
						}
						.drawer-style.style-1 .awsm-details{
							background:#fff;
							padding: 30px 15px 0;
							h2{
								font-family: 'montserratregular';
								color: #005eb8;							
    							margin-bottom: 10px;
							}
							p{
								line-height: 1.5;
    							color: #333;
							}
						}
						.drawer-style.style-1 .awsm-personal-contact-info{
							img{
								margin-bottom:20px;
							}
						}
						.awsm-grid-wrapper .awsm-grid a{
							h3{
								color: #fff;
								text-transform: none;
								font-family: 'eb_garamond12_regular';
								font-size: 16px;
    							white-space: nowrap;
							}
							figcaption{
								display: none;
							}
							figure img{
								border:10px solid #005eb8;
							}
						}
						.text-center{
							width: 100%;
							margin: 4em 0 0;
						}
					}
				}
			}
			#program{
				background-color:#061458;
				color: #fff;
				.block-back{
					margin:40px 0;
				}
			}
			#posters{
				padding:100px 0;
				.col-md-1, .col-md-11{
					border-bottom:1px solid #e6e6e6;
					padding-bottom: 5px;
					margin-top: 15px;
				}
				.fa.fa-arrow-circle-right{
					font-size:2.5em;
					color: #e7e7e7;
				}
				h2{
					font-family: 'open_sansregular';
					text-align: center;
					color: #061458;
					font-size: 3em;
					font-weight: normal;
					margin-bottom: 50px;
				}
				h4{
					color: #40a2ff;
					font-size: 17px;
					margin-bottom: 3px;
					font-weight: bold;
					width: 90%;
				}
				h5{
					font-size:15px;
					width: 90%;
				}
			}
		}
	}
}

.previous-symposium{
	background:url(../images/2016.jpg) no-repeat center center / cover;
	min-height:340px;
	.row{
		min-height: 340px;
		align-items:center;
		h2{
			color: #fff;
			font-family: 'open_sansregular';
			font-size: 3em;
			text-transform: uppercase;
		}
	}
	a.past-sym{
		width: 200px;
	    display: block;
	    background: #41a2ff;
	    text-align: center;
	    color: #fff;
	    text-transform: uppercase;
	    border-radius: 20px;
	    padding: 7px 0;
	    font-weight: 700;
	    font-size: 14px;
	    font-family: montserratregular;
	    margin: 0 auto;
	    &:hover{
	    	background:#fff;
	    	color: #41a2ff;
	    }
	}
}
.meetup-navigation-fixed{
	display: none;
	background:#fff;
	padding-right:0;
	position:fixed;
	z-index:80;
	width:100%;
	min-height:65px;
	transform: translateZ(0);
	-moz-transform: translatez(0);
	-ms-transform: translatez(0);
	-o-transform: translatez(0);
	-webkit-transform: translateZ(0);
	-webkit-font-smoothing: antialiased; /* seems to do the same in Safari Family of Browsers*/
	a{
		font-family: montserratregular;
		text-transform: uppercase;
		color:#060958;
	}
}
#meetupDirection{
    background: url(../images/sym-about-back.jpg) no-repeat 50%;
    padding: 165px 0;
    position: static;	
    em{
    	font-size: 1.2em;
    }
    address{
    	font-size: 1.7em;
    }
    .map-link{
    	font-family: 'montserratregular';
    	text-transform: uppercase;
    }
}
#meetupDirectionTwo{
	background:url(../images/map-back-meetup.jpg) no-repeat center center / cover;	
	padding: 165px 0;
	a{
		display: flex;
		color:#fff;
		i{
			flex-grow:1;
			font-size: 4em;
    		margin-right: 10px;
    		color: #005eb8;
		}
		span{
			flex-grow:2;
			font-size: 20px;
			font-weight: bold;
		}
	}
}
.single-meetup footer{
	background:#14141d;
	color:#8f8f98;
}
.anchor-wrap{
	position:relative;
}
a.move-down-symp{
	font-family: montserratregular;
	color: #41a2ff;
	text-transform:uppercase;
	margin-top:20px;
	&:hover{
		color: #060958;
	}
}
#timeline {
	display:flex;
	width: 100%;
	height: 500px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	padding-top:0;
	z-index: 0;
}
.dates-back{
	background: url('../images/timline-back.jpg') 0 center no-repeat;
	position:relative;
	z-index:0;
	height:400px;
	overflow:hidden;
}
#dates {
	padding-left:0;
	li {
		list-style: none;
		height: 50px;
		font-size: 24px;
		text-align: center;
		background: url('../images/biggerdot.png') center bottom no-repeat;
	}
	a {
		display: block;
		line-height: 38px;
		padding-bottom: 10px;
		color: #fff;
		margin:10px 0;
		opacity: .8;
		font-size: 18px;
		font-family: serif;
		.date-time{
			width: 18%;
    		white-space: nowrap;
    		display: inline-block;
		}
		.date-agenda{
			margin-left: 10px;
			width: 74%;
			float: right;
			line-height: 20px;
		}
	}
	.selected {
	    font-weight:bold;
	    opacity: 1;
	    font-size: 20px;
	}
}

#issues {
	overflow: hidden;
	li {
		width: 100%;
		height: 500px;
		list-style: none;
		float: left;
		p {
			font-size: 14px;
			margin-right: 70px;
			font-weight: normal;
			line-height: 22px;
			text-shadow: #000 1px 1px 2px;
		}
	}
	li.selected img {
		-webkit-transform: scale(1.1,1.1);
		-moz-transform: scale(1.1,1.1);
	    -o-transform: scale(1.1,1.1);
	    -ms-transform: scale(1.1,1.1);
	    transform: scale(1.1,1.1);
	}
	li img {
		float: left;
		margin: 10px 30px 10px 50px;
		background: transparent;
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */   
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */      
		zoom: 1;
		-webkit-transition: all 2s ease-in-out;
		-moz-transition: all 2s ease-in-out;
		-o-transition: all 2s ease-in-out;
		-ms-transition: all 2s ease-in-out; 
		transition: all 2s ease-in-out;
		-webkit-transform: scale(0.7,0.7);
		-moz-transform: scale(0.7,0.7);
	    -o-transform: scale(0.7,0.7);
	    -ms-transform: scale(0.7,0.7);
	    transform: scale(0.7,0.7);
	}
	li h1 {
		color: #ffcc00;
		font-size: 48px;
		margin: 20px 0;
		text-shadow: #000 1px 1px 2px;
	}
	li{
		h2{
			font-size: 1.7em;
		}
		h4{
			color:#40a2ff;
		}
		h3{
			margin-top: 15px;
			color: #40a2ff;
			font-size: 1em;
			font-style: italic;
		}
		p{
			margin-bottom: 0;
		}
	}
}	


#grad_left,
#grad_right {
	width: 100px;
	height: 350px;
	position: absolute;
	top: 0;
}
#grad_left {
	left: 0;
	background: url('../images/grad_left.png') repeat-y;
}
#grad_right {
	right: 0;
	background: url('../images/grad_right.png') repeat-y;
}

#next,
#prev {
	position: absolute;
	left: 0;
	font-size: 31px;
	width: 100%;
	height: auto;
	background-position: 0 0;
	background-repeat: no-repeat;
	z-index:2;
	padding-left: 21%;
	color:#fff;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#061458+0,7db9e8+100&1+0,0+100 */
background: -moz-linear-gradient(bottom,  rgba(6,20,88,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(bottom,  rgba(6,20,88,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to top,  rgba(6,20,88,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#061458', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */


	&:hover{
		opacity: .6;
	}
}
#next:hover,
#prev:hover {
	
}
#next {
	bottom: 0;
}
#prev {
	top: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#061458+0,7db9e8+100&1+0,0+100 */
background: -moz-linear-gradient(top,  rgba(6,20,88,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(6,20,88,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(6,20,88,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#061458', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */

}
#next.disabled,
#prev.disabled {
	opacity: 0.2;
}